@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Inter:wght@300;400;500&display=swap');
*{
    font-family: "Inter 300",Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 20px;
}

.section1{
    position: relative;
    height: 240px;
    border: 1px solid;
    padding: 20px;
}
.section1 b{
    font-style: italic;
}
.section1 a{
    position: absolute;
    margin-top: 25px;
    color: black;
}
.section2 a{
    margin-top: 8px;
    color: black;
}
h1{
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
}

.section2{
    position: relative;
    margin-top: 15px;
}
.section2>img{
    width: 388px;
    margin-top: 5px;
    height: 300px;
}
.section3{
    position: relative;
}
.section3>h1{
    margin-top: 60px;
    margin-bottom: 5px;
}
ol{
    margin-top: 25px;
    margin-left: 15px;

}
li{
    margin-bottom: 5px;
}
